body {
    background-color: black;
}

h1 {
    color: #FF6000;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    text-transform: uppercase;
}

p {
    color: #FFE6C7;
    text-align: center;
}

#mainPhoto {
    width: 100%;
    border: 0.2rem solid gold;
}

#mainDiv {
    width: 50%;
    margin-left: 25%;
    margin-top: 15%;
}